/*=================
    google fonts
 ==================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

/*=================
    common styles
 ==================*/

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9fbfc;
}
#hr {
  color: #e7e7e7;
}
a {
  text-decoration: none;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.container_mini {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

/*=================
    navbar style
 ==================*/
.inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo,
.logo_lab {
  font-size: 30px;
  line-height: 44px;
  color: #fcae61;
  font-weight: 700;
}
.logo_lab {
  color: #242f51;
}
.menu_area ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_area ul li {
  list-style: none;
}
.menu_area ul li:last-child {
  margin-left: 20px;
}
.menu_area ul li a {
  padding: 10px 18px;
  transition: 0.3s;
  font-size: 16px;
  line-height: 44px;
  color: #242f51;
  font-weight: 400;
}
.menu_area ul li a:hover {
  color: #fcae61;
}
.try_btn {
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  outline: 0;
  border: 0;
  color: #f9fbfc;
  font-size: 16px;
  line-height: 44px;
  cursor: pointer;
}

/* ============
banner style
================*/
#banner {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: calc(100vh - 117px);
}
.inner_banner {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}
.inner_banner h6 {
  width: 362px;
  height: 35px;
  border-radius: 17px;
  background-color: #e2eaed;
  font-size: 18px;
  line-height: 28px;
  color: #242f51;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.inner_banner i {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 39px;
  height: 35px;
  border-radius: 17px;
  background-color: #feaa25;
}
.inner_banner h1 {
  font-size: 55px;
  line-height: 75px;
  color: #242f51;
  font-weight: 600;
  margin: 20px 0 25px 0;
  max-width: 523px;
}
.inner_banner p {
  font-size: 18px;
  line-height: 28px;
  color: #616368;
  font-weight: 400;
  max-width: 486px;
}
.banner_btn_area {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.banner_btn_area a {
  color: #2500f9;
  margin-left: 25px;
}
.banner_image {
  display: flex;
  justify-content: center;
}
.banner_image img {
  max-width: 65%;
}

/* ============
companies style
================*/
#companies {
  margin-bottom: 150px;
}
.inner_companies h6 {
  font-size: 16px;
  line-height: 28px;
  color: #242f51;
  font-weight: 400;
  text-align: center;
  margin: 60px 0px 30px 0px;
}

.all_companies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
/* ============
features style
================*/

.inner_features {
  display: flex;
  justify-content: flex-end;
  background-image: url(../images/features/features-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.inner_features h2 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  max-width: 285px;
}

.inner_features p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  max-width: 432px;
}

.feature_item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 30px;
  margin: 50px 0;
  max-width: 380px;
}

.features_items h4 {
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}
.features_items .item_1 h4 {
  color: #f55767;
}
.features_items .item_2 h4 {
  color: #2563ff;
}
.features_items .item_3 h4 {
  color: #40975f;
}

/* ============
jackpots style
================*/

.innet_jacpots {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.innet_jacpots h2 {
  font-size: 40px;
  line-height: 50px;
  color: #242f51;
  font-weight: 600;
  width: 461px;
  padding: 0 15px;
}
.innet_jacpots p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  max-width: 440px;
  padding: 0 15px;
}
#jackpots {
  margin: 150px 0 110px 0;
}
.middle_border {
  border-right: 2px solid gray;
  min-height: 150px;
  /* height: initial; */
}

/* ============
features-2 style
================*/
#features_2 {
  margin-bottom: 140px;
}
.features_items_2 {
  display: flex;
  justify-content: space-between;
}

.feature_item_2 p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  max-width: 261px;
}

.features_items_2 h4 {
  font-size: 20px;
  line-height: 58px;
  font-weight: 600;
}
.features_items_2 .item_1 h4 {
  color: #f55767;
}
.features_items_2 .item_2 h4 {
  color: #2563ff;
}
.features_items_2 .item_3 h4 {
  color: #40975f;
}

/* ============
built style
================*/
#built {
  margin-bottom: 150px;
}
.inner_built {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
.built_content h2 {
  max-width: 360px;
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
}
.built_content p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  margin: 40px 0 40px 0;
}
/* ============
choose style
================*/
.inner_choose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 90px;
}
.inner_choose h2 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  max-width: 440px;
  margin-bottom: 35px;
  text-align: center;
}
.inner_choose p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  max-width: 635px;
  text-align: center;
}
/* ============
services style
================*/

.inner_services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 90px;
  justify-content: center;
}
.service {
  max-width: 265px;
  text-align: center;
  margin-bottom: 70px;
}

.service h3 {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
}
.service p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
}

/* ============
ultimate services style
================*/
#ultimate_features {
  background-image: url(../images/ultimate-services/ultimate-bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 170px;
}
.inner_ultimate_features h2 {
  font-size: 36px;
  line-height: 46px;
  color: #242f51;
  font-weight: 600;
  max-width: 325px;
  margin-top: 100px;
  margin-bottom: 30px;
}
.inner_ultimate_features > p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  max-width: 395px;
  margin-bottom: 60px;
}

.ultimate_services {
  max-width: 590px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  justify-content: start;
}
.ultimate_service {
  max-width: 265px;
  margin-bottom: 60px;
}
.ultimate_service h3 {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
}
.ultimate_service p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
}
/* ============
awesome features
================*/
.awesome-features h2 {
  max-width: 580px;
}
.twice_btn {
  padding: 3px;
  border: 2px solid #ebebeb;
  border-radius: 50px;
  max-width: 360px;
  margin: 80px 0 -40px 0;
}
.twice_btn span {
  font-size: 16px;
  line-height: 44px;
  color: #616368;
  font-weight: 500;
  padding: 0 50px;
}

/* ============
payment card
================*/
#payment {
  margin-bottom: 100px;
}
.inner_payment {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.card {
  max-width: 317px;
  text-align: center;
}
.card_2 {
  border: 2px solid #ebebeb;
}
.card_head {
  max-width: 317px;
  min-width: 317px;
  background-color: #f4f7f9;
  padding: 40px 40px 20px 40px;
}
.card_head h2 {
  font-size: 60px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  padding-bottom: 30px;
}
.card_head h2 span {
  font-size: 18px;
  line-height: 28px;
  color: #999ca5;
  font-weight: 400;
  margin-left: -10px;
}
.card_head h6 {
  font-size: 20px;
  line-height: 28px;
  color: #242f51;
  font-weight: 600;
}
.card_head p {
  font-size: 16px;
  line-height: 28px;
  color: #999ca5;
  font-weight: 400;
}
.card_body {
  padding: 30px 0 20px 0;
  border-radius: 9px;
  filter: drop-shadow(3.837px 54.866px 31px rgba(144, 163, 177, 0.18));
  background-color: #ffffff;
}
.card_body p {
  font-size: 16px;
  line-height: 48px;
  color: #999ca5;
  font-weight: 400;
}
.card_body .try_btn {
  margin-top: 20px;
}
.card_body a {
  display: block;
  font-size: 16px;
  line-height: 28px;
  color: #2500f9;
  font-weight: 400;
  margin-top: 20px;
}
/* ============
client style
================*/
#client {
  background-image: url(../images/client/client-bg.png);
  background-repeat: no-repeat;

  background-position: left;
  margin: 150px 0;
}
.inner_client {
  display: flex;
  justify-content: flex-end;
}
.client_content {
  width: 560px;
}
.client_content h2 {
  font-size: 40px;
  line-height: 50px;
  color: #242f51;
  font-weight: 600;
  max-width: 490px;
  margin-bottom: 30px;
}
.client_content p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  max-width: 480px;
}
.client_content p:nth-child(5) {
  max-width: 560px;
}
.client_content p i {
  font-size: 20px;
  line-height: 58px;
  color: #ffcc00;
}
.client_content h4 {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
}

.ceo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.ceo_left {
  display: flex;
}
.ceo_left img {
  margin-right: 30px;
}
.ceo_left p {
  line-height: 0;
}
.ceo h5 {
  font-size: 18px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
}

.ceo_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.ceo_right .fa-arrow-left {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  /* background-color: #eff3f8; */
  border: 2px solid #eff3f8;
  font-size: 18px;
  line-height: 50px;
  color: #dee1e6;
  /* text-align: center; */
  text-align: center;
}
.mini_border {
  height: 30px;
  border-left: 2px solid #e7e7e7;
}
.ceo_right .fa-arrow-right {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #eff3f8;
  font-size: 18px;
  line-height: 50px;
  color: #2500f9;
  text-align: center;
}

/* ============
client style
================*/
#faq {
  margin-bottom: 100px;
}
.inner_faq {
  max-width: 992px;
}
.inner_faq_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.inner_faq_top h2 {
  font-size: 40px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  text-align: center;
}
.inner_faq_top p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  text-align: center;
  margin: 50px 0 60px 0;
  max-width: 650px;
}

.faq_content_top {
  /* width: 945px;
  height: 256px; */
  padding: 20px 50px 80px 50px;
  background-color: #f5f7fa;
}
.faq_content h5 {
  font-size: 20px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  /* text-align: center; */
}
.faq_content_top h5 {
}
.faq_content_top p {
  /* max-width: 810px; */
  /* height: 110px; */
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  text-align: left;
  /* margin-bottom: 20px; */
  max-width: 811px;
}
.faq_single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f7fa;
  margin: 10px 0;
  padding: 0px 50px;
}
/* ============
download app style
================*/
#download_app {
  background-image: url(../images/download-app/download-app-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 100px;
}
.inner_download_app {
  /* max-width: 700px; */
}
.inner_download_app h2 {
  padding-top: 100px;

  font-size: 48px;
  line-height: 58px;
  color: #242f51;
  font-weight: 600;
  /* font-family: "Poppins";
  text-align: center; */
}
.inner_download_app p {
  font-size: 16px;
  line-height: 26px;
  color: #616368;
  font-weight: 400;
  max-width: 635px;
  margin: 30px 0 50px 0;
}
.download_buttons_area {
}
